.hero-section {
  padding: 220px 0px 280px 0px;
  background-image: url("../../assets/pexels-cottonbro-studio-5029077.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

p {
  font-size: 1.5rem;
}

.top {
  padding-top: 20px;
}

.bottom {
  padding-bottom: 20px;
}
