.navbar-container {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container,
.main-nav,
.sub-nav {
  width: 33%;
}

.main-nav ul,
.sub-nav ul {
  display: flex;
  align-items: center;

  li {
    padding: 10px;
  }
}

.logo-container {
  padding: 10px;
}

.sub-nav ul {
  justify-content: end;
}

.main-nav ul {
  justify-content: center;
}
